* {
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --background-color: hsl(217, 54%, 11%);
  --card-background-color: hsl(216, 50%, 16%);
  --divisor-line-color: hsl(215, 32%, 27%);
  --white-color: hsl(0, 0%, 100%);
  --hover-color: hsl(178, 100%, 50%);
  --text-base-color: hsl(215, 51%, 70%);
  /* fonts */
  --title-font-size: 1rem;
  --paragraph-font-size: 0.875rem;
  --body-font: 'Outfit', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  font-family: var(--body-font);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

p {
  font-size: var(--paragraph-font-size);
  color: var(--text-base-color);
}

.card-container {
  background-color: var(--card-background-color);
  max-width: 225px;
  height: 410px;
  padding: 17px;
  border-radius: 3%;
  text-align: left;
}

#image {
  width: 225px;
  height: 225px;
  border-radius: 3%;
}

#image img {
  width: 100%;
  height: auto;
  border-radius: 3%;
}

#image:hover {
  background-color: var(--hover-color);
}

.title {
  margin-top: 1rem;
  font-size: var(--title-font-size);
  color: var(--white-color);
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardSpec p {
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  margin-top: 1rem;
  font-size: var(--paragraph-font-size);
}

.price {
  font-weight: 600;
  color: var(--hover-color);
  display: flex;
  gap: 5px;
  align-items: center;
}

.price-icon {
  background: url(./images/icon-ethereum.svg) no-repeat;
  width: 11px;
  height: 18px;
}

.date {
  color: var(--text-base-color);
  display: flex;
  gap: 5px;
  align-items: center;
}

.clock-icon {
  background: url(./images/icon-clock.svg) no-repeat;
  width: 17px;
  height: 17px;
}

.cardOwner p span {
  color: var(--white-color);
}

.divider {
  margin-top: 1rem;
  height: 0.3px;
  background-color: var(--divisor-line-color);
  border-radius: 50%;
}

.cardOwner {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.cardOwner img {
  max-width: 20px;
  border: 0.5px solid var(--white-color);
  border-radius: 100%;
  padding-bottom: -5px;
}

.attribution {
  display: flex;
  justify-content: center;

  font-size: 0.6875rem;
  color: gray;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
